.logo {
    display: flex;
    justify-content: space-between;
    padding: 20px 50px 20px 50px;

    .company-logo,
    .user-logo {
        display: flex;
        align-items: center;
    }
    
    .company-name{
        color: var(--primary);
        font-weight: 600;
        font-size: 22px;
    }
    .user-name{
        color: var(--secondary);
        font-weight: 500;
        font-size: 18px;
    }
    .company-name,  .user-name{
        padding-left: 10px;
    }
}
.header{
    width: calc(100% - 5rem);
    margin-left: 5rem;
    z-index: 1;
    transition: all .2 ease;
    // background: var(--primary);
    // padding: 1rem 1.5rem 0 1.5rem;
    position: sticky;
    top: 0;

}
.head-trimmed {
    width: calc(100% - 13rem);
    margin-left: 13rem;
}

.head-md-screen {
    width: calc(100% - 5rem);
    margin-left: 5rem;
}