.closeAlign {
    display: flex;
    justify-content: space-between;
}
.dialog-container{
    padding: 10px;
}

::ng-deep .mdc-text-field--filled:not(.mdc-text-field--disabled) {
    background-color: white !important;
    padding-left: 5px !important;
  }
  ::ng-deep .commentSection .mat-mdc-form-field {
    width: 100%;
  }
  .btnEnd{
    display: flex;
    justify-content: end;
  }
  .head{
    // background: #2F4FCD;
    margin: auto;
    // color: white;
    display: flex;
    justify-content: space-between;
    padding:2px;
}
.pl{
    padding-left: 10px;
}
.inputFields{
    width:100%;
    padding:0px 10px 0px 10px;
}
.addUser{
    padding:10px;
    border-radius:10px;
    background-color:#0d6efd;
    border:1px solid #0d6efd;
    color:#FFFFFF;
}
.btnAlign {
    display: grid; 
    place-items: end;
    padding:10px;
}
.row {
    width:100%;
}
.inTimeData{
    margin:15px;
}
.tableData{
    width:100%;
}
.tableData tbody, td, tfoot, th, thead, tr{
    padding:5px;
}
.tableData .headerClass{
    border-bottom:1px solid #ccc;
}
// .closeAlign {
//     display: flex;
//     justify-content: space-between;
// }
::ng-deep .mat-mdc-dialog-container .mdc-dialog__surface{
    --mdc-dialog-container-shape:20px!important;
    border-radius:var(--mdc-dialog-container-shape, 4px);
}
.addingFeedBack{
  display: flex;
  justify-content: space-between;
  margin:10px;
}
.saveFeedback{
  padding:5px;
}