<div class="dialog-container">
  <div class="col-lg-12 closeAlign">
    <div>
      <p class="pt-3 head">
        <span *ngIf="data; else createUser">Edit Company</span>
        <ng-template #createUser>Create Company</ng-template>
      </p>
    </div>
    <div>
      <button
        mat-icon-button
        mat-dialog-close
        tabindex="-1"
        class="close-button"
      >
        <mat-icon class="closeColor">close</mat-icon>
      </button>
    </div>
  </div>
  <form action="" [formGroup]="companyDetails" class="companySection">
    <div class="col-lg-12">
      <div class="row">
        <div class="col-lg-6">
          <mat-form-field class="example-full-width">
            <mat-label>Company Name</mat-label>
            <input
              type="text"
              matInput
              placeholder=""
              formControlName="companyName"
            />
          </mat-form-field>
        </div>
        <div class="col-lg-6">
          <mat-form-field class="example-full-width">
            <mat-label>Email</mat-label>
            <input
              type="text"
              matInput
              placeholder=""
              formControlName="email"
            />
          </mat-form-field>
        </div>
        <div class="col-lg-6">
          <mat-form-field class="example-full-width">
            <mat-label>Mobile No</mat-label>
            <input
              type="text"
              matInput
              placeholder=""
              formControlName="phoneNo"
            />
          </mat-form-field>
        </div>
        <div class="col-lg-6">
          <mat-form-field class="example-full-width">
            <mat-label>Latitude</mat-label>
            <input
              type="text"
              matInput
              placeholder=""
              formControlName="latitude"
            />
          </mat-form-field>
        </div>
        <div class="col-lg-6">
          <mat-form-field class="example-full-width">
            <mat-label>Longitude</mat-label>
            <input
              type="text"
              matInput
              placeholder=""
              formControlName="longitude"
            />
          </mat-form-field>
        </div>
        <div class="col-lg-6">
          <mat-form-field class="example-full-width">
            <mat-label>Street</mat-label>
            <input
              type="text"
              matInput
              placeholder=""
              formControlName="street"
            />
          </mat-form-field>
        </div>
        <div class="col-lg-6">
          <mat-form-field class="example-full-width">
            <mat-label>City</mat-label>
            <input type="text" matInput placeholder="" formControlName="city" />
          </mat-form-field>
        </div>
        <!-- <div class="col-lg-6">
          <mat-form-field class="example-full-width">
            <mat-label>Zip Code</mat-label>
            <input
              type="text"
              matInput
              placeholder=""
              formControlName="zipCode"
            />
          </mat-form-field>
        </div> -->

        <!-- <div class="col-lg-6">
          <mat-form-field class="example-full-width">
            <mat-label>State</mat-label>
            <input
              type="text"
              matInput
              placeholder=""
              formControlName="state"
            />
          </mat-form-field>
        </div> -->

        <div class="col-lg-6">
          <mat-form-field class="example-full-width">
            <mat-label>Country</mat-label>
            <input
              type="text"
              matInput
              placeholder=""
              formControlName="country"
            />
          </mat-form-field>
        </div>
        <!-- <div class="col-lg-12">
                    <mat-form-field class="example-full-width">
                        <mat-label>Address</mat-label>
                        <textarea matInput placeholder="" formControlName="address"></textarea>
                    </mat-form-field>
                </div> -->
        <div class="col-lg-12">
          <div class="btnEnd">
            <app-sales-cancel-btn
              mat-icon-button
              mat-dialog-close
              tabindex="-1"
              class="close-button"
              [label]="'Cancel'"
            ></app-sales-cancel-btn>
            <app-sales-btn
              [isWriteEnabled]="isWriteEnabled"
              [label]="!data ? '+ Add' : 'Update'"
              (action)="saveUser()"
            ></app-sales-btn>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
