.closeAlign {
    display: flex;
    justify-content: space-between;
}
.dialog-container{
    padding: 10px;
}

::ng-deep .mdc-text-field--filled:not(.mdc-text-field--disabled) {
    background-color: white !important;
    padding-left: 5px !important;
  }
  ::ng-deep .taskForm .mat-mdc-form-field {
    width: 100%;
  }
  .btnEnd{
    display: flex;
    justify-content: end;
  }
  .mat-autocomplete-panel {
    max-width: 200px; /* Adjust the width as needed */
}
