.closeAlign {
    display: flex;
    justify-content: space-between;
}
.dialog-container{
    padding: 10px;
}

::ng-deep .mdc-text-field--filled:not(.mdc-text-field--disabled) {
    background-color: white !important;
    padding-left: 5px !important;
  }
  ::ng-deep .mat-mdc-form-field {
    width: 100%;
  }
  .btnEnd{
    display: flex;
    justify-content: end;
  }
  .permissionOption {
    margin-left: 10px;
    border: 1px solid black;
    border-radius: 5px;
    cursor: pointer;
  }
  .actions{
    padding: 5px;
    border-right:1px solid #ccc;
  }
  .selected{
    background-color:#221ec9;
    color:#ffffff;
  }
  .inTimeData{
    margin:15px;
    width:100%;
}