<div class="col-lg-12 btnAlign">
    <div>
        <div class="tabs-align">
            <div class="center-align">
    
                <input type="radio" name="size" id="size_1" value="small" checked (change)="loadData('unassigned')" />
                <label for="size_1">Open Tasks</label>
    
                <input type="radio" name="size" id="size_2" value="small" (change)="loadData('assigned')" />
                <label for="size_2">Assigned Tasks</label>
    
                <input type="radio" name="size" id="size_3" value="small" (change)="loadData('completed')" />
                <label for="size_3">Completed Tasks</label>

                <input type="radio" name="size" id="size_4" value="small" (change)="loadData('verified')" />
                <label for="size_4">Verified Tasks</label>
    
            </div>
        </div>
        <!-- <p class="main-head">Tasks(12)</p> -->
    </div>
    <div class="content">
        <app-search></app-search>
        <div class="mx-2">
        <app-sales-btn [label]="'+ New Task'" (action)="addTask()"></app-sales-btn>
    </div>
    </div>
</div>
<app-sales-table #childRef [tableHeaders]="tableHeaders" [tableValues]="tableValues" (edit)="edit($event)" (delete)="delete($event)" (checkBoxes)="selectAll($event)" (emitIds)="getIds($event)"></app-sales-table>
<div class="task" *ngIf="this.changeTab">
    <app-sales-btn [label]="'Verify'" (action)="Verify()"></app-sales-btn>
</div>

