<div class="col-lg-12 btnAlign">
    <div>
        <p class="main-head">Roles({{count}})</p>
    </div>
    <div class="content">
        <app-search (searchData)="searchBox($event)"></app-search>
        <div class="mx-2">
        <app-sales-btn [label]="'+ New Role'" (action)="addRole()"></app-sales-btn>
    </div>
    </div>
</div>
<app-sales-table [tableHeaders]="tableHeaders" [tableValues]="tableValues" (edit)="edit($event)" (delete)="delete($event)" [count]="count" (pagination)="pagination($event)" [apiLoader]="apiLoader"></app-sales-table>
<div style="display:flex;" class="legends">
    <p class="legendPara"><i class="circle">V</i> - visible</p>
    <p class="legendPara"><i class="circle">W</i> - Write</p>
    <p class="legendPara"><i class="circle">D</i> - Delete</p>
</div>
<div *ngIf="showOrHide" class="no-data text-center py-3 bold-text">No Data Found</div>