.closeAlign {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #edebeb;
}
.dialog-container{
    padding: 10px;
}

  .btnEnd{
    display: flex;
    justify-content: end;
  }
  .deleteDiv{
    margin-top:10px;
  }