<div class="back-icon" routerLink="/attendence">
  <mat-icon>keyboard_backspace</mat-icon
  ><span style="display: flex; align-items: center">Back</span>
</div>
<app-map [SELECTED_USER_ID]="selectedUserId"></app-map>

<div style="display: flex; gap: 10px; margin-top: 15px; color: #808193">
  <div style="display: flex; flex-direction: column; gap: 8px">
    <div>
      <img
        class="marker-icon"
        src="assets/icons/start-location-marker.png"
        alt=""
        srcset=""
      />
      <span>Punch In</span>
    </div>
    <div>
      <img
        class="marker-icon"
        src="assets/icons/end-location-marker.png"
        alt=""
        srcset=""
      />
      <span>Punch Out</span>
    </div>
  </div>
  <div style="display: flex; flex-direction: column; gap: 8px">
    <div>
      <img
        class="marker-icon"
        src="assets/icons/activity-location-marker.png"
        alt=""
        srcset=""
      />
      <span>Task Activity</span>
    </div>
    <div>
      <img
        class="marker-icon"
        src="assets/icons/emptylog-location-marker.png"
        alt=""
        srcset=""
      />
      <span>Empty Log</span>
    </div>
  </div>
</div>
