/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
:root {
    --primary:#221ec9;
    --secondary:#000000;
    --font-primary-color:#221ec9;
    --bg:#ffff;
}
::ng-deep .mat-mdc-dialog-container .mdc-dialog__surface{
    overflow-x:hidden;
}
.pt-3{
    font-size: 20px;
    font-weight: 600;
}
@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
  }
  
  @keyframes fadeOut {
    from { opacity: 1; }
    to { opacity: 0; }
  }
  
  /* Override MatSnackBar default styles */
  .mat-mdc-snack-bar-container .mdc-snackbar__surface {
    background-color: var(--primary) !important;
    border-radius: 10px !important;
  }
  .mat-mdc-snack-bar-container .mdc-snackbar__label{
    color:#ffffff !important;
  }
