/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
:root {
    --primary:#221ec9;
    --secondary:#000000;
    --font-primary-color:#221ec9;
    --bg:#ffff;
}
