<div class="col-lg-12 btnAlign">
    <p class="main-head">Attendence ({{count}})</p>

    <mat-form-field class="full-width datePicker flex-end" >
        <input #fromDateInput matInput [matDatepicker]="fromDatepicker"
            placeholder="From date" [(ngModel)]="date"
            (dateChange)="onFromDateChange($event)">
        <mat-datepicker-toggle matSuffix [for]="fromDatepicker"></mat-datepicker-toggle>
        <mat-datepicker #fromDatepicker></mat-datepicker>
    </mat-form-field>
    
    <app-search></app-search>
<!-- <app-sales-btn [label]="'+ New Task'" (action)="addAttendence()"></app-sales-btn> -->
</div>
<app-sales-table (map)="openConsole()" (delete)="delete($event)" (edit)="edit($event)" [tableHeaders]="tableHeaders" [tableValues]="tableValues"></app-sales-table>

