.btnAlign {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background-color: white;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.main-head {
    font-size: 20px;
    color: var(--primary);
    font-weight: bolder;
    display: flex;
    align-items: center;
}

::ng-deep .datePicker .mdc-text-field--filled:not(.mdc-text-field--disabled) {
    --mdc-filled-text-field-active-indicator-height:0px !important;
    border: 1px solid #ffffff !important;
    background-color:#ffffff !important;
    inset: 0;
    background: var(--input-bg-color);
    border-radius: 30px !important;
    pointer-events: none;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

// ::ng-deep .datePicker .mdc-text-field--filled:not(.mdc-text-field--disabled) .mdc-text-field__input {
//     color: white !important;
// }

// ::ng-deep .datePicker .mat-mdc-form-field .mat-mdc-input-element::placeholder {
//     color: #ffffff !important;
// }

::ng-deep .datePicker .mat-mdc-text-field-wrapper {
    width: 75% !important;
    border-radius: 5px !important;
    height: 40px !important;
    display: flex;
    justify-content: center;
    align-items: center;
    // padding:0px !important;
}

::ng-deep .datePicker .mat-mdc-form-field {
    width: 100% !important;
    margin-left: 20px;
}