<div class="container-table">
    <table class="rwd-table">
        <tbody>
            <tr>
                <ng-container *ngFor="let header of tableHeaders">
                    <th>{{header.name}} <i class="fas fa-sort"></i></th>
                </ng-container>
            </tr>
            <ng-container *ngFor="let values of tableValues; let j= index">
                <tr (click)="openConsole.emit()">
                    <ng-container *ngFor="let key of tableHeaders let i= index">
                        <td [attr.data-th]="key.name" [ngClass]="{'status':key.key === 'status'}" [style.color]="handleStatusColor(values[key.key])">{{ values[key.key]}}
                        </td>
                    </ng-container>
                </tr>
            </ng-container>
        </tbody>
    </table>
</div>
<mat-paginator #paginator class="demo-paginator" (page)="handlePageEvent($event)" [length]="length"
    [pageSize]="pageSize" [disabled]="disabled" [showFirstLastButtons]="showFirstLastButtons"
    [hidePageSize]="hidePageSize" [pageIndex]="pageIndex" aria-label="Select page">
</mat-paginator>